@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans');

body {
  background: white;
  font-family: 'Work Sans', sans-serif, 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: #3f3d3d;
}

.container {
  max-width: 900px;
  margin: auto;
}

img {
  width: 100%;
}

/* navbar */

#navbar {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #3f3d3d;
}

#navbar li.current a, #navbar a:hover {
  color: #032459;
  border-bottom: 3px solid #032459;
  padding-bottom: 3px;
}

/* showcase */
#showcase {
  /* background: url('../images/nhl-seattle.jpg') no-repeat center center; */
  font-family: 'Roboto', sans-serif;

}

#showcase .row {
  height: 600px;
}

#rowTwo {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

/* features */

#features h2 {

  font-size: 2.8em;
  line-height: 1em;
}

.feature {
  padding: 100px;
}

/* #features h4 {
  border-bottom: 5px solid red;
  width: 60px;
} */

/* call to action */
#callToAction {
  height: 150px;
  border-bottom: 1px solid #333;
}

.callToAction-content {
  padding-top: 25px;
}


i {
  font-size: 2em;
}

/* company */
/* #company {
  background: #333;
  color: #fff;
  padding: 10px 0;
} */

#company h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

#company ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}

#company input[type="text"] {
  padding: 7px;
}

#company button {
  background: #222;
  color: #fff;
  padding: 10px;
  border: 0;
}
